div.pdf-on-side {
  display: flex;
}
img {
  width: unset;
  max-width: 25%;
  height: 100%;
}
@media (max-width: 920px) {
  div.pdf-on-side {
    flex-wrap: wrap;
  }
  img {
    width: unset;
    max-width: 100%;
  }
}
