<h2>PROJECTS</h2>
<div class="projects">
  <div>
    <img src="assets/CSS-final.png" alt="" />
    <div class="description">
      <h3><a href="https://first-final.netlify.app">Wix Template</a></h3>
      <p>Used: HTML, SASS</p>
      <p class="note">
        Site Description: This site was built entirely with HTML and SASS,
        inspired by a Wix template. It is fully responsive across all common
        devices, with a strong emphasis on animations and breakpoints. I
        imported various fonts from Google Fonts to enhance the design's appeal
        and carefully utilized positioning for optimal layout.
      </p>
    </div>
  </div>
  <div>
    <img src="assets/Javascript-final.png" alt="" />
    <div class="description">
      <h3>
        <a href="https://qing-jing-final.netlify.app">Pocket Library</a>
      </h3>
      <p>Used: HTML, CSS, Javascript</p>
      <p class="note">
        by using JAvascript fetch api i bult
      </p>
    </div>
  </div>
  <div>
    <img src="assets/angular-final.png" alt="" />
    <div class="description">
      <h3><a href="https://angular-final.netlify.app">Sport Today</a></h3>
      <p>Used: HTML, CSS, TypeScript, Angular, Firestore Database</p>
    </div>
  </div>
  <div>
    <img src="assets/weather-app.png" alt="" />
    <div class="description">
      <h3>
        <a href="https://lela-akiashvili.github.io/weather-app/">Wather App</a>
      </h3>
      <p>Used: HTML, CSS, JavaScript</p>
    </div>
  </div>
</div>
